.person{
    padding:1rem;
    display: flex;
    flex: 1 0 auto;
}

.pheader{
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;

}

.pinfo{
    padding-left:2rem;
    display: flex;
    font-size: 1.5rem;
    flex-direction: column;
}

.pheader> img{
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 5rem;
}

.links img{
    width: 4rem;
    height: auto;
}
