<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MechMath wiki</title>
    <link rel="stylesheet" href="static/basic.css">
    <link rel="stylesheet" href="static/person.css">
    <script src="static/person.js"></script>
    <script src="static/index.js"></script>

</head>
<body>
    <div class="allwrapper">
        <div class="titlewrapper">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
            <div class="menu">
                <div class="menuitem">
                    Кафедры
                </div>
                <div class="menuitem">
                    Курсы
                </div>

            </div>
            <div class="titletext">Mechmath wiki</div>
        </div>
        <div class="mainwrapper">
            <div class="p"></div>
        </div>
    </div>
</body>
</html>
